# Dependencias
node_modules/

# Archivos de distribución
dist/
build/

# Archivos de entorno
.env

# Archivos de log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Archivos temporales
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Directorios de cobertura
coverage/
.nyc_output/

# Archivos de configuración del IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de bloqueo de paquetes (opcional)
# package-lock.json
# yarn.lock